# ----------------------
# Flask
# ----------------------
flask
requests
nltk
wit
requests

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn