# ----------------------
# Flask
# ----------------------
flask
requests
nltk


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn